.header__navigation_settings {
    float: right;
    height: 100%;
}

.header__navigation_settings a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.header__navigation_settings a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color:rgb(255, 255, 255);
    font-size: 16px;
}